<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Otros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inglés</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Noten que la mayoría del contenido de Tecnología es en inglés. Saber inglés es la herramienta más importante para trabajar en la industria. La pronunciación no hace falta que sea perfecta, lo importante es comunicarse.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Aprender a Aprender</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         Ser auto-didacta es muy valioso. Especialmente en una industria que cambia costantemente. Mantenerse actualizado a diario genera un profesional que sobresale.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>No se olviden de vivir</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         Prueben cosas, vayan a hackathones, participen en proyectos interesantes. Hagan deporte, salgan con sus amigos y disfruten. No se les olvide que deben vivir.
      </ion-card-content>
    </ion-card>

    <ion-card href="https://darknetdiaries.com/">
      <img alt="ShannonMorse Logo" src="../../assets/darknet.jpg" />
      <ion-card-header>
        <ion-card-title>Darknet Diaries</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         Último pero no menos importante, uno de mis podcasts Favoritos. Darknet Diaries (Click acá)
      </ion-card-content>
    </ion-card>



  </ion-list>


</ion-content>