<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tecnologías
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>Tecnologías que vale la pena aprender</h3>
  <ion-list>
    <ion-card>
      <img alt="Git Logo" src="assets/gitLogo.png" />
      <ion-card-header>
        <ion-card-title>Control de Versiones</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Git es una Tecnología muy utilizada para control de versiones de software.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Tux Logo" src="assets/tux.png" />
      <ion-card-header>
        <ion-card-title>Linux</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Linux y su línea de comandos es de las habilidades básicas más importantes en el mundo de TI
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Networks Logo" src="assets/networks.jpg" />
      <ion-card-header>
        <ion-card-title>Redes</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Es importante conocer las bases de redes y sus protocolos. El "famoso" CISCO CCNA enseña lo básico.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Python Logo" src="assets/python.jpg" />
      <ion-card-header>
        <ion-card-title>Python</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Python es de los lenguajes multi propósitos más utilizados en la industria. Además, es muy bien pagado. Muchos dicen que es "El lenguaje de los hackers".
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="AWS Logo" src="assets/aws.png" />
      <ion-card-header>
        <ion-card-title>AWS</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        AWS (Amazon Web Services). Es de los proveedores cloud más utilizados en el mundo. Los conocimientos de aws se pueden transferir a otros vendors como GCP o Azure.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Best Practice Logo" src="assets/best_practice.jpg" />
      <ion-card-header>
        <ion-card-title>Buenas prácticas</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Buenas práticas, estándares y patrones de diseño son marcos de referencia, que si se dominan, diferencia a los programadores experimentados de los novatos.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Docker Logo" src="assets/docker.jpg" />
      <ion-card-header>
        <ion-card-title>Contenedores</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Contenedores en general. El más popular es Docker.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Kubernetes Logo" src="assets/kubernetes.png" />
      <ion-card-header>
        <ion-card-title>Kubernetes</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        La orquestración de contenedores permite crear infraestructuras resilientes y escalables como Whatsapp, Instagram o Netflix. Kubernetes también es bien pagado en la industria.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="DevOps Logo" src="assets/DevOpslogo.png" />
      <ion-card-header>
        <ion-card-title>DevOps | Automation</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>DevOps, DevSecOps y Automation permiten a las empresas y equipos ser altamente competitivos.</p>
        <p>Algunas Tecnologías importantes:</p>
        <ul>
          <li>Jenkins</li>
          <li>Ansible</li>
          <li>Terraform</li>
          <li>Grafana</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </ion-list>

  
</ion-content>
