<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Canales Interesantes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>YouTube permite adquirir conocimientos de forma gratuita.</p>
  <p>A continuación una lista de Canales para aprender gratis. (Click en cada uno para navegar al canal)</p>

  <ion-list>
    <ion-card href="https://www.youtube.com/@davidbombal">
      <img alt="David Bombal Logo" src="../../assets/davidbombal.jpg" />
      <ion-card-header>
        <ion-card-title>David Bombal</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Cursos, entrevistas y tutoriales de Ciberseguridad
      </ion-card-content>
    </ion-card>

    <ion-card href="https://www.youtube.com/@_JohnHammond">
      <img alt="John Hammond Logo" src="../../assets/johnhammond.jpg" />
      <ion-card-header>
        <ion-card-title>John Hammond</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Tutoriales de Ciberseguridad
      </ion-card-content>
    </ion-card>
    
    <ion-card href="https://www.youtube.com/user/NetworkChuck">
      <img alt="NetworkChuck Logo" src="../../assets/networkChuck.jpg" />
      <ion-card-header>
        <ion-card-title>NetworkChuck</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Tutoriales de Tecnologías Populares
      </ion-card-content>
    </ion-card>

    <ion-card href="https://www.youtube.com/@LiveOverflow/featured">
      <img alt="LiveOverflow Logo" src="../../assets/liveoverflow.jpg" />
      <ion-card-header>
        <ion-card-title>LiveOverflow</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Tutoriales de Ciberseguridad
      </ion-card-content>
    </ion-card>

    <ion-card href="https://www.youtube.com/user/geerlingguy">
      <img alt="Jeff Geerling Logo" src="../../assets/jeffgeerling.jpg" />
      <ion-card-header>
        <ion-card-title>Jeff Geerling</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Tutoriales de Software, Hardware e infraestructura.
      </ion-card-content>
    </ion-card>

    <ion-card href="https://www.youtube.com/@ShannonMorse">
      <img alt="ShannonMorse Logo" src="../../assets/shannonmorse.jpg" />
      <ion-card-header>
        <ion-card-title>Shannon Morse</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Tutoriales y noticias de Seguridad
      </ion-card-content>
    </ion-card>

    <ion-card href="https://www.youtube.com/@NaomiBrockwellTV">
      <img alt="NaomiBrockwellTV Logo" src="../../assets/nbtv.jpg" />
      <ion-card-header>
        <ion-card-title>NBTV, with Naomi Brockwell</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Tutoriales de Seguridad y Privacidad
      </ion-card-content>
    </ion-card>
   
  </ion-list>

  
</ion-content>
